.fundoSpa{
    background-image: url('./Images/spaCaoChillado.png');    width: 100%;
    height: 100vh;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}
.texto_detalhes_Spa{
    padding: 2rem;
    margin-left: 2%;
    width: 30%;
    height: 70%;
    background-color: #F8F8F8;
    border-radius: 16px;
}
.butoem_book_nowSpa{
    background-color: #FBB200;
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1vw;
    border-radius: 8px;
    margin-top: 1%;

}
.butoem_book_nowSpa:hover{
    transform: scale(1.05);
}
.texto_domeioSpa{
    font-family: 'Roboto';
    font-size: 1.2vw;
}
.titulo_Spa{
    font-family: 'Roboto';
    font-size: 2.3vw;
    color:#FBB200
}