.ver_carrinho{
    color: #565556
}
.ver_carrinho:hover{
    color: #FFB200;
    transform: scale(1.05);
}
.filtro{
    max-width: 5%;
}
.no-products-message {
    font-family: 'Roboto';
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 50px;
    margin-bottom:15rem;
}
